.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    background-color: #fff;
    gap: 24px;
    padding: 24px 156px;

}

.gallery-item {
    width: calc((100% - 48px) / 3);
}

.gallery-image:hover {
    transform: scale(1.05);
    transition-duration: 250ms;
    cursor: pointer;
}

.gallery-image-item {
    width: 1112px;
    height: 640px;
    display: block;
    position: absolute;
}

.modal {
    width: 1112px;
    height: 640px;
}